/*! ==================================================== !*/
/* ESTILOS DE LA SECCION HOME ADMIN */
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .cont-table{
    width: 80%;
}
table .btn-warning,
table .btn-danger,
table .btn-success{
    width: 40px;
    height: 40px;
}